@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: aliceblue;
}

nav {
    position: fixed;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: black;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: teal;
    padding: 22px 20px;
    height: 120px;
    float: left;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 50px;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 120px;
    color: teal;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav li {
    margin: 0.8px;
    line-height: 80px;
}

footer {
    background: transparent;
    height: auto;
    font-family: 'Lato', sans-serif;
    padding-top: 30px;
    color: teal;
}

.footers {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.footers2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 2em;
}

.socialmedia {
    list-style: none;
    display: flex;
}

.socialmedia li {
    margin: 0 10px;
}

.socialmedia a {
    text-decoration: none;
    color: teal;
}

.socialmedia a i {
    transition: 0.4s ease;
    font-size: 1.1rem;
}

.socialmedia a:hover {
    text-decoration: none;
    color: grey;
}

nav ul li a:hover {
    background-color: grey;
    border-radius: 10px;
    transition: 0.3s;
}

.fwh-slide {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.mcqs-container {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
    border: 0.1rems solid grey;
}

.mcqs-container:hover {
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    background-color: grey;
}

.mcqs-choice {
    background-color: teal;
    color: black;
    padding: 0.5rem 1.5rem;
}

.mcqs-answer {
    padding: 0.5rem 1.5rem;
    color: black;
}

h2 {
    color: grey;
    margin-bottom: 16rem;
    text-align: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 1em;
    color: grey;
}

.header-first {
    color: teal;
    font-size: 1.0em;
}

.correct {
    box-shadow: 1px 1px 20px green;
}

.incorrect {
    box-shadow: 1px 1px 20px red;
}

.question {
    margin: auto;
}